<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Burgers to Eat</h2>
            <ol>
                <li>
                    {{#each burger}}
                    {{#unless this.devoured}}
                    {{this.burger_name}}
                    <button class="devourBtn" data-id="{{id}}">devour</button>
                    {{/unless}}
                    {{/each}}
                </li>
            </ol>
        </div>

        <div class="col-md-6">
            <h2>Devoured Burgers</h2>
            {{#each burger}}
            {{#if this.devoured}}
            {{this.burger_name}}
            <button class="deleteBtn" data-id="{{this.id}}">delete</button>
            {{/if}}
            {{/each}}
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <input id="userBurger" type="text">
            <button id="burgerBtn">Order Burger</button>
        </div>
    </div>


</div>